<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
</head>
<body>
    <div class="mainw-full min-h-screen bg-zinc-900">
      <div class="form p-10 text-white">
        <form action="/create" method="post">
          <input class="block w-full rounded-md outline-none px-5 py-2 bg-zinc-800" type="text" placeholder="Title goes here" name="title">
          <textarea class="block w-full mt-2 rounded-md outline-none px-5 py-2 resize-none bg-zinc-800" placeholder="Write your task decription" name="details"></textarea>
          <input class="mt-2 bg-blue-600 px-5 py-2 rounded-lg" type="submit" value="Create Task">
        </form>
      </div>
      <div class="tasks p-10 flex flex-wrap gap-3 p-10">
        <% if(files.length>0 ){%>
        <% files.forEach(function(val){%>
           <div class="task w-72 px-3 py-4 rounded-md bg-zinc-800">
          <h1 class="text-white textx-3xl tracking-tighter"><%=val%></h1>
          <a class="text-blue-500 inline-block mt-3 " href="/files/<%=val%>">Read more</a>
        </div>
        
          <%})%>
        <%} else{%>
          <h3 class="text-zinc-600">No Tasks Yet </h3>
        <%}%>

       
        
      </div>
    </div>
</body>
</html>